<% provide(:title, 'Chairman') %>
<div class="background_image">
  <%= image_tag "riddlesdown_summer1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
	<h2>Chairman's Report Spring 2015</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           <div class="col-md-6">
           	<h2>Purley Pool</h2>

<p>The threat of the closure of the Purley Swimming Pool was the opening topic of my report for the Sanderstead News. I had drafted a letter to be sent to the Croydon Advertiser on behalf of seven South Croydon Resident Associations’ arguing the case for the Pool’s retention. I am delighted that the letter was not required because the Council reversed its decision to close the Pool prior to the Council meeting to confirm its closure.</p>

<p>So Power to the People of the 7,000 residents of South Croydon who petitioned the Council for the Pool to remain open and congratulations to Fred Wallis of Riddlesdown RA who led the Save the Purley Pool Campaign.</p>

<p>The Council’s news release indicates that the life of the pool is limited with statements such as “the pool has almost reached the end of its life” “to keep it open while it can still be used“ and “there simply isn’t the money to make the pool viable in the long term.”</p>

<p>We now need to hear the Council’s plan for the long term provision of the pool.</p>

<p>You will be able to question our Councillors about the future of the Pool and other matters at this year’s Annual General Meeting which this year because of the General Election will not be held until the 14th May.</p>

<p>I urge you to attend because this is your residents association and I and the Committee need to hear your thoughts and support on the direction we are proceeding, your ideas on who we should consider donating funds to and any projects that you think will  enhance  Sanderstead. We will be having drinks at the completion to encourage informal discussion with Councillors, Members of the Committee or just enjoy chats with your neighbours.</p>

<h2>Purley Beeches</h2>
<p>At last years AGM fears were expressed about the felling of apparently healthy mature trees in Purley Beeches. Following on from that meeting regular visitors to the Beeches decided to form a group of concerned people who will work in conjunction with Croydon Council to undertake a role to safeguard its future preservation and woodland management. An inaugural meeting was held at St. Mary’s Church Hall on the 29th November at which The Friends of Purley Beeches was formed. Stanley Lowy, of Beechwood Avenue was appointed its Chairman.</p>

<p>The SRA who assisted in the publicising of the meeting have pledged to start the Friends funding with a donation of £100; following the example of the Friends of Croham Hurst Woods. Purley Beeches had their first working party on the 31st  January. </p>

<p>I have great admiration for what has been achieved in twelve years by The Friends of Croham Hurst Woods. Their first project was to clear the bank to the Upper Selsdon Road of thirty years of scrub growth This has opened out areas making them more attractive and encouraging flowering ground plants to grow. A walk through the Hurst confirms how large areas of invasive holly are endangering and covering the more attractive deciduous trees. The Friends have already achieved  the removal of two hectares of holly and a third hectare is planned for clearance when the ground conditions are suitable. There have been many benefits in clearing shrub and  invasive holly which opens up the views and has returned to the Hurst the flora and fauna of earlier years.</p>

<p>The Friends  hard work and dedication has won them The Queens Award for Voluntary Service. Although she wouldn’t claim it the inspiration for the Friends of Croham Hurst Woods is Councillor Maria Gatland, her enthusiasm and vitality has been the driving force in the improvements made. For  Sanderstead residents who have the ever changing seasonal  view of the Hurst from their homes and those that enjoy walking in the Hurst have much to thank her for. </p>
<h2>Hear Me Speak</h2>

<p>A success storey for the SRA was the Hear Me Speak competition held last summer for the pupils of the sixth forms of our three primary schools, Atwood, Gresham and Ridgeway. A team of three children from each competed against each other in a public speaking contest.</p>

<p>The aims of the competition were to give the children experience and confidence in public speaking, in presenting a subject of their own choice and working as a team within a specific time. The ability and enthusiasm of the children was impressive making the adjudicators task very difficult. After much adjudication Gresham were judged to be the winners.</p>

<p>The staff of the schools wish the competition to be repeated this year and because the competition was successful and enjoyed by all who attended the schools are inviting a further three schools to compete at the competition. The venue to be at Gresham School on the 18th June. </p>

<p>The SRA will present a shield to be held by the annual winners with Gresham School being engraved as the winners for 2014. Committee member Cliff Quarterly is the inspiration and hardworking organiser of the competition.</p>

           </div>
           <div class="col-md-6">
           	<h2>Coffee Shops</h2>

<p>There was a time in Sanderstead Village when you couldn’t find a café for a cup of tea or coffee. Within a few months we are suddenly spoilt for choice with the Bakery, Suave Beauty Lounge and most recently Costa Coffee, part of the Whitbread Group who are seeking not to just dominate Sanderstead Village, but the whole of the UK with their brand of coffee. This is very serious competition for Priscilla’s Tea Room who opened last summer after converting the old public toilets backing onto the recreation ground. This is an ideal location for mums and dads to get refreshment whilst their children are playing on the swings or playing football. The local owners are very community minded and we wish them well in competing with the corporate organisation opposite.</p>
<h2>New Website</h2>

The Committee and I have to hold our hands up and admit to being dinnosoars in the world of modern technology. We are proud of the quality of The Sanderstead News but it can only inform you of important and current issues on a bi-annual basis. The need for the SRA to have its own web site has been long on the agenda and I am relieved to say that Corrie Hibberd, the webmaster of the All Saints Church web site has come to our rescue.</p>

<p>Our website address is www.sanderstead-residents.co.uk. and can be used in conjunction with the "Sanderstead News" magazine to provide you with helpful information. Your comments on what we should include on your website will be most welcome.</p>
<h2>New Bus Route</h2>

<p>The TFL have surprised everybody by announcing a new bus route running from New Addington to Purley via Purley Downs Road. We were aware of the proposal last summer which was going out for  consultation. The trouble is that the consultation did not happen and when residents of Purley Downs Road discovered that TFL were marking out positions for bus stops they not surprisingly have vigorously objected to the proposal and submitted to the Council via Councillor Hopley a petition against the bus route. I met with the objectors who admit that they are opposed to the proposal on personal and other grounds, but have also challenged the financial viability of running the service. I invited them, although not SRA members, to submit the report for printing in our magazine, but they appear to have declined.</p>

<p>I have been approached by a number of SRA members who wish to use the bus into Purley and are very supportive of the proposal.</p>
<p>The outcome is now subject to talks between the Council officers and the TfL. A subject worthy of discussion at the AGM!!. </p>
<h2>Remembrance</h2>

<p>The 2014 Remembrance Services across the land were supported in great numbers by their congregations. The All Saints Church service was organised by a team led by Rosemary Kempsell. Her theme was that it was to be a Sanderstead community celebration of the 100th anniversary involving the scout and guide groups To attend was a moving and memorable experienced.</p>

<p>The service was held in the church and after the one minutes silence the congregation moved outside to the war memorial where small wooden crosses were planted by.beavers, cubs, scouts, rainbows, brownies and guides followed by the more older members of the congregation. </p>

<p>The SRA contribution was the crosses, Mike Leach read WW1 memories and I had the privilege to read at the completion of the two minutes silence the Kohima Prayer:<p>

<p>When you go home , tell them of us,
 for your tomorrow we gave our today.

 </p>
           </div>
              </div>
        </div> <!--/row marketing -->  
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>