<% provide(:title, 'Chairman') %>
<div class="background_image">
  <%= image_tag "white_house1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
	<h2>Work in the Community</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-3 white-column">
    <h4><%= link_to "Membership", members_path %></h4>
    <h4><%= link_to "About", about_path %></h4>
            
    </div>
    <div class="col-md-9 white-column">
      <a  class="anchor" id="top"name="top"></a>
      <h2>Chairman's Report May 2022</h2>
     <p>SANDERSTEAD RESIDENTS’ ASSOCIATION AND SANDERSTEAD LOCAL COUNCILLORS</p>

     <p>It is with great pleasure that we can hold a physical AGM after two years of Zoom meetings and we warmly welcome everyone present tonight.</p>
     <p>Since our last AGM the committee have agreed to provide funds for the following:</p>
     <ul>
      <li>Christmas lights</li>
      <li>Sanderstead Community Day provision of toilets and insurance costs</li>
      <li>Banners and new signage for the library</li>
      <li>Wildflower seeds for the library garden</li>
      <li>Restoration of the village sign</li>
    </ul>
    <p>You may have noticed that the refurbished Sanderstead sign was erected today. We approached the BBC1 programme The Repair Shop for this restoration and as they were looking for coronation related items we managed to get down to the last two but unfortunately were not selected.  We then found a local firm in Beckenham who looked at the sign and said that it was beyond repair but that they would make a replica as closely as possible to the original.  When the sign was taken down the main section was so rotten that it crumbled at the edges.  However the carved top section of the sign has been restored.  We are extremely grateful to those members who have made a donation to help with this costly project and to the Sanderstead Councillors who agreed to split the cost.</p>
    <p>We rely on our membership subscriptions to be able to make these donations and the committee continue to actively work towards increasing membership through the distribution of spare magazines and attending local events.  We had a successful day at the Sanderstead Community Day in September and will have a stall at 16th Purley Scout Groups Gruffy Fayre on 2nd July. We are very grateful for Guy Salt for his continued maintenance of our database.</p>
    <p>It will be of no surprise that planning issues continue to take up a large part of our time. We look at contentious applications and submit objections and keep a schedule showing the status of applications which is regularly shared on our website, Facebook page and Nextdoor app. We work with the local councillors and other residents associations as a combined force on planning.</p>
    <p>We have also been working on the issue of the future of Sanderstead library, with a dedicated sub-committee spending a lot of time talking to Council library staff and other local libraries to try and progress this.  We have formed The Friends of Sanderstead Library to help maintain the grounds and to some extent the building and we will have regular working days. Our aim js to create a community hub for Sanderstead.</p>
    <p>A lot of work went into our comments on the Croydon Local Plan which has not yet been adopted.</p>
    <p>As ever, we are grateful to our Councillors Lynne, Hale, Yvette Hopley and Tim Pollard for all the support they give us and financially they often split the costs of projects with us. Our special thanks to Tim for his twenty years of service and support to Sanderstead Residents and we wish him well in the future. We also welcome Helen Redfern who has moved from being a Purley Oaks and Riddlesdown councillor, to join Lynne and Yvette in Sanderstead. We have a new era in Croydon with our first democratically elected Mayor, a movement that we supported as we believed it was in the interests of our residents.</p>
     

     <p>Heather Lindsey and Mike Leach, Chairman and Secretary Sanderstead Residents’ Association, chairman@sanderstead-residents.co.uk</p>

        <%= link_to "Back to Top", anchor: "top" %>

    </div> <!--/col-md-9 -->

  </div>
</div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
