<% provide(:title, 'Chairman') %>
<div class="background_image">
  <%= image_tag "white_house1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
	<h2>Work in the Community</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-3 white-column">
    <h4><%= link_to "Membership", members_path %></h4>
    <h4><%= link_to "About", about_path %></h4>
            
    </div>
    <div class="col-md-9 white-column">
      <a  class="anchor" id="top"name="top"></a>
      <h2>Chairman's Report May 2021</h2>
     <p>SANDERSTEAD RESIDENTS’ ASSOCIATION AND SANDERSTEAD LOCAL COUNCILLORS</p>
     <p>Due to the 2020 AGM being delayed because of COVID it is only six months since my last AGM report, so this will be short! We had hoped that the roadmap out of lockdown would have enabled us to have our usual meeting at All Saints’ Hall but unfortunately we have had to resort to Zoom again.</p>
    <p>Since the last AGM the committee have provided funds for the following:</p>
    <ul>
      <li>The DEMOC campaign for an elected Mayor - referendum now finalised for 7 October 2021</li>
      <li>Funds to CHASRO  to continue their legal campaign</li>
      <li>New Roses for Wettern Tree Garden</li>
    </ul>
    <p>We rely on our membership subscriptions to be able to make these donations and the committee actively work towards increasing membership through distribution of spare magazines.  Yet again we are grateful to Guy Salt who maintains the membership database.</p>
    <p>As you will no doubt be aware, contentious planning applications are still being made, although recently we have seen a change from flats to houses but still usually proposing 8/9 units on the plot of a single house. We continue to publicise planning applications on our website, Facebook and Nextdoor and the planning schedule is updated regularly.  This schedule shows the extent of the applications, whether awaiting decision, refused, granted or being built, and how it is changing our neighbourhood.  We will continue to raise our concerns about these applications. We also continue to work with other Residents Associations as a combined force for planning.</p>
    <p>The closure of the library has been a high priority since the last AGM and we formed a sub-committee to address this.  We successfully applied to have the library listed as an Asset of Community Value which means that if the Council decides to sell it, we have the first option to purchase.  We have been lobbying the Council with letters about the closure and recently it appears that the Council have decided not to close the library immediately but its retention is not included in all five options being considered.  However, the way forward is still unclear and we are in the process of forming a Friends of Sanderstead Library group in order to demonstrate the local communities’ commitment to its retention.</p>
    <p>The 2019 Croydon Plan included the question: "Are there any green spaces in Sanderstead that should be protected as Local Green Spaces? Please provide evidence as to why they are irreplaceable for you." We responded with a list of sites within Sanderstead ward that we considered were essential to retain. Due to both the Council’s financial situation and Covid 19 restrictions progress of the plans’ review has stopped and we are pressing for a date when it will resume. In view of our success with the library nomination as an Asset of Community Value, depending on the Council’s conclusions, we are considering whether these green spaces could and should be nominated to protect their future. We are even more committed to their retention since the Covid 19 pandemic has demonstrated the need for sufficient space for recreation by residents on a regular basis.</p>
    <p>We are grateful to our Councillors, Lynne Hale, Yvette Hopley and Tim Pollard, for the support they give us.</p>
     <p>Heather Lindsey, Chairman Sanderstead Residents’ Association, chairman@sanderstead-residents.co.uk</p>

        <%= link_to "Back to Top", anchor: "top" %>

    </div> <!--/col-md-9 -->

  </div>
</div>
</div>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
