<% provide(:title, 'Constitution') %>

		<h1>
			Constitution of the Sanderstead Residents' Association
		</h1>
		<h2>
			Constitution as adopted at the aGM held on 25 April 2013
		</h2>
		<ol>
			<li>The name of the Associaton shall be the Sanderstead Residents Association, here after called the Association.
			</li>
			<li>
				The Aim of the Association shall be to promote the interests of the residents of Sanderstead, this to be without the distinction of sex, race, colour, political or religious opinions and to safeguard the interests of the said residents. The Association shall be non party in politics and non sectarian in religion.
			</li>
			<li>
				Membership of the Association shall be open to all persons aged 18 and over to cover all of those who live at a family address covered by the Association. Any application for membership will be considered by the Committee. acceptance or otherwise will be final.
			</li>
			<li>
				The Committee shall have the right to terminate the membership of the residents of any household which act contrary to the aims of the Association.
			</li>	
			<li>
				All members shall pay an annual subscription as agreed at the Annual General Meeting.
			</li>
			<li>
				Subject to the limitations set out in clause 8 hereof, the policy and general management of the affairs of the Association shall be directed by the Committee which shall consist of the Chairman, Vice Chairman, Hon. Secretary, Hon. Treasurer known as the Executive officers of the Committee and up to a further 6 members of the Association can serve on the committee to be known as the members of the Committee.
			</li>

		</ol>
	