<% provide(:title, 'Constitution') %>
<div class="background_image">
  <%= image_tag "cricket1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
	<h2>Constitution of the Sanderstead Residents' Association</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           <div class="col-md-12">

		<h3>
			Constitution as adopted at the AGM held on 1 May 2014
		</h3>
		<ol>
			<li>The name of the Associaton shall be the Sanderstead Residents Association, here after called the Association.
			</li>
			<li>
				The Aim of the Association shall be to promote the interests of the residents of Sanderstead, this to be without the distinction of sex, race, colour, political or religious opinions and to safeguard the interests of the said residents. The Association shall be non-party in politics and non-sectarian in religion.
			</li>
			<li>
				Membership of the Association shall be open to all persons aged 18 and over to cover all of those who live at a family address covered by the Association. Any application for membership will be considered by the Committee. Acceptance or otherwise will be final.
			</li>
			<li>
				The Committee shall have the right to terminate the membership of the residents of any household which act contrary to the aims of the Association.
			</li>	
			<li>
				All members shall pay an annual subscription as agreed at the Annual General Meeting.
			</li>
			<li>
				Subject to the limitations set out in clause 8 hereof, the policy and general management of the affairs of the Association shall be directed by the Committee which shall consist of the Chairman, Vice Chairman, Hon. Secretary, Hon. Treasurer, known as the Executive officers of the Committee and up to a further 6 members of the Association can serve on the committee, to be known as the members of the Committee.
			</li>
				<ul style="list-style-type:none">
					<li>The executive officers of the Committee may serve for four years before standing down but can stand for re-election in the same role. Any Member of the Committee having served two years will retire by rotation but shall be eligible to stand for re-election.</li>
					<li>The committee shall have the power to appoint subcommittees as it may from time to time decide and may determine their powers and terms of reference.</li>
				</ul>
			<li>Once a year at a date which has to be decided the committee shall convene an Annual General Meeting of the Association at which all those members who have been a member for SIX months or more (qualification period) will be entitled to vote at the meeting for the purpose of:</li>
				<ol type="a">
					<li>Receiving the Annual Report of the Committee.</li>
					<li>Receiving the approved statement of the accounts.</li>
					<li>Confirming the Executive Officers and Members of the Committee for the forthcoming year where the Executive Officers and Members are due to retire due to rotation.</li>
						<ul style="list-style-type:none">
						<li>Nomination for membership of the Committee should be addressed in writing to the Hon. Secretary to arrive no later than 14 days before the date of the AGM and be accompanied by the written acceptance of the nominee. Should insufficient nominations to recover the replacement of retiring members who do not wish to reapply have been submitted 14 days before the date of the AGM the Chairman will have the authority, at his own absolute discretion to consider accepting other nominations proposed and seconded either less than 14 days before the date of the AGM or at the AGM. </li>
						</ul>
					<li>Appointing an Independent Examiner of the Associations Accounts.</li>
					<li>Voting when necessary on proposals to amend this constitution in accordance with Clause 12.</li>
					<li>Making recommendations to the Committee.</li>
					<li>Dealing with any other business of which twenty one (21) days notice has been given.</li>
				</ol>
			<li>The Chairman or the Hon Secretary of the Association may at any time, at their discretion, or if directed to do so by the Committee, or they must within 28 days of receiving a written request signed by not less than 20 eligible members having the power to vote and giving reasons for the request, call a Special General Meeting of the Association for the purpose of considering the special business put forward and determining such action as may be appropriate.</li>
			<li>
				<ol type="a">
					<li>Subject to the provisions of clause 12, all questions arising at any meeting of the Association or of the Committee shall be decided by a simple majority of those present and entitled to vote. In the case of equality of votes the Chairman shall have a second casting vote.</li>
					<li>Four (4) members shall form a quorum at meetings of the Committee. Twenty (20) eligible members shall form a quorum at the General Meetings of the Association. </li>
					<li>Minutes shall be kept of all meetings with a record of all proceedings, resolutions and attendances.</li>
				</ol>
			</li>
			<li>
				<ol type="a">
					<li>In addition to the Subscriptions from members, the Association shall have the power to accept donations for any purpose not inconsistent with its aims and may make special appeals for funds to be used in connection with any such purpose.</li>
					<li>All monies raised by or on behalf of the Association shall be applied to further the aims of the Association and for no other purpose.</li>
					<li>The Hon. Treasurer shall keep proper accounts of the finances of the Association.</li>
					<li>The accounts shall be examined at least once a year by an Independent Examiner appointed at the Annual General Meeting.</li>
					<li>The statement of accounts for the previous financial year shall be submitted by the Committee to the Annual General Meeting and copies made available.</li>
					<li>Bank accounts shall be maintained in the name of the Association with such bank or building society as may be decided by the Committee. The <bold>Committee shall authorise the Hon. Treasurer and / or Chairman and one of two mandated members of the Executive both to sign cheques on behalf of the Association.</bold></li>
				</ol>
			</li>
			<li>Local Ward Councillors may be invited to attend meetings of the Committee but as Councillors they shall have no vote.</li>
			<li>Any proposal to change this Constitution must be supported by a minimum of ten eligible members of the Association and delivered in writing to the Hon. Secretary by 31st January for consideration at the next Annual general meeting of the Association. </li>
			<li>The Hon. Secretary shall give each member not less than fourteen (14) days notice in writing whether by post or email or both of the Annual General Meeting and all Special General Meetings. </li>
			<li>The Committee shall have the power to act on any contingency not provided for in this Constitution and to fill any vacancy, ex officio, or otherwise, occurring on the Committee between the date of one Annual General Meeting and the next. </li>
		</ol>
	</div><!--/col-md-12 -->
	</div> <!--/row marketing -->
       </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	