<% provide(:title, 'Constitution') %>
<div class="welcome">
     
	<h2>The Constitution of the Sanderstead Residents' Association</h2>

      <div class="content">

        <div class="container-narrow">
          <div class="row marketing">
           <div class="col-md-12">

		<h3>
			Constitution as adopted at the AGM held on 25 April 2013
		</h3>
		<ol>
			<li>The name of the Associaton shall be the Sanderstead Residents Association, here after called the Association.
			</li>
			<li>
				The Aim of the Association shall be to promote the interests of the residents of Sanderstead, this to be without the distinction of sex, race, colour, political or religious opinions and to safeguard the interests of the said residents. The Association shall be non party in politics and non sectarian in religion.
			</li>
			<li>
				Membership of the Association shall be open to all persons aged 18 and over to cover all of those who live at a family address covered by the Association. Any application for membership will be considered by the Committee. acceptance or otherwise will be final.
			</li>
			<li>
				The Committee shall have the right to terminate the membership of the residents of any household which act contrary to the aims of the Association.
			</li>	
			<li>
				All members shall pay an annual subscription as agreed at the Annual General Meeting.
			</li>
			<li>
				Subject to the limitations set out in clause 8 hereof, the policy and general management of the affairs of the Association shall be directed by the Committee which shall consist of the Chairman, Vice Chairman, Hon. Secretary, Hon. Treasurer known as the Executive officers of the Committee and up to a further 6 members of the Association can serve on the committee to be known as the members of the Committee.
			</li>
				<ul style="list-style-type:none">
					<li>The executive officers of the Committee may serve for four years before standing down but can stand for re-election in the same role. Any Member of the Committee having served two years will retire by rotation but shall be eligible to stand for re-election.</li>
					<li>The committee shall have the power to appoint subcommittees as it may from time to time decide and may determine their powers and terms of reference.</li>
				</ul>
			<li>Once a year at a date which has to be decided the committee shall convent an Annual GGeneral Meeting of the Association at which all htose members who have been a member for SIX months or more (qualification period) will be entitled to vote at the meeting for the purpose of:</li>
				<ol type="a">
					<li>Receiving the Annual Report of the Committee.</li>
					<li>Receiving the approved statement of the accounts.</li>
					<li>Confirming the Executive Officers and Members of the Committee for the forthcoming year where the Executive Officers and Members are due to retire due to rotation.</li>
				</ol>

		</ol>
	</div> <!--/container -->
    
    </div> <!-- /content -->
  </div> <!--/welcome -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	