<% provide(:title, 'Directory') %>
<div class="background_image">
  <%= image_tag "village_sign1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
	<h2>Sanderstead Directory</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
          	<div class="col-md-12 grey-back">
          		<h4 style="text-align: center;">Where we have not yet confirmed permission to use contact data online, please refer to the "Sanderstead News" magazine for directory information.</h4>
          	</div>
           <div class="col-md-4 directory">
           	<h2>Youth Organisations</p>
           		<h4>Scouts and Beavers</h4>
           		<p>8th Purley (St Mary's)</p>
           		<p>Scout Hut HQ, St Mary's Church, 85 Purley Oaks Road, CR2 0NY</p>
           		<p>Group Scout Leader, Yvonne Lamont <!-- tel 020 8763 2933 --></p>
           </div>
           <div class="col-md-4 directory">
           	<h2>Church Information</h2>
           	<h4>All Saints Parish Church - AD 1230</h4>
           	<p>Team Rector, Rev'd Canon Martin Greenfield, tel 020 8657 1366</p>
           	<p>Parish Secretary, Paul Shipley, tel 020 8657 0665</p>
           	<p>Email, parish.office@sanderstead-parish.org.uk</p>
           </div>
           <div class="col-md-4 directory">
           	<h2>Local Organisations</h2>
           	<h4>Bourne Society</h4>
           	<p>Hon Membership Secretary, Mrs J Hurrion. <!--Tel 01883 349287 --></p>
           	<h4>Bridge Thursday Club, Sanderstead</h4>
           	<p>Memorial Hall, Purley Oaks Road. <!-- Email honorshearing@googlemail.com. tel 0208657 6082 --></p>
           </div>
           	</div> <!--/row marketing -->  
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->