<% provide(:title, 'Events') %>
<div class="background_image">
  <%= image_tag "riddlesdown_spring1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
  <h2>Local Events in and around Sanderstead</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           <div class="col-md-8">
           	<h2>Latest events for 2015</h2>
           	 <h3><a name="pictures"></a>Exhibition and Sales of Pictures, Saturday March 21st, United Reformed Church Hall</h3>
    <p> Our annual Children’s Society exhibition and sale of paintings and drawings, framed and unframed, by many local artists is open from 10am-4pm on March 21st in the URC hall on Sanderstead Hill. This is always a lively event with a wide variety of art to enjoy and a chance to buy original works at very reasonable prices. There will also be tea, coffee, a cake stall and raffle. Do come – as 20 per cent of proceeds go to the Society, you will also be supporting its important work with vulnerable children. </p>

    		<h3><a name="agm"></a>Sanderstead Residents' Association AGM, Thursday 14th May 2015, at All Saints Church Hall tbc</h3>
    		<p>The important function of the Association is its Annual general Meeting, where the members elect the committee and have the opportunity to question the councillors and committee on matters relating to Sanderstead.</p>

    		<h3><a name="fair"></a>Scouts Gruffy Fair, Saturday 13th June tbc, on the Gruffy beside Sanderstead pond</h3>
    		<p>The 16th Purley Scouts again invite everyone to come along for all the fun of the fair. All the usual treats will be there, including the famous football matches between all the cub packs</p>

           	 </div>

          <div class="col-md-4">
          	 </div>
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	