<% provide(:title, 'Grants') %>
<div class="background_image">
  <%= image_tag "autumn-leaves.jpg", :class=> "img-responsive" %>
</div>
<div id="welcome-panel">
  <h2>Sanderstead Residents' Association</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           	<div class="col-md-8">
<h3>Grants</h3>
<p>The Residents' Association has a small fund available to provide grants to suitable local projects.</p>

<p>If you have a project and would like to apply for a grant, please send the following information to our Hon Treasurer, Mr John Kempsell:</p>


<p>The following projects and groups have received funding from the Sanderstead Residents' Association since 2012</p>
 <ul>

              <li>Sanderstead Neighbourhood Care</li>
              <li>Selsdon Centre for the Retired</li>
              <li>Repair of Sanderstead War Memorial vandalised by metal thieves</li>
              <li>Bench seat on the Gruffy by the Sanderstead Pond</li>
              <li>The Mayor’s Charity 2014</li>
              <li>Books and display stand for Sanderstead Library</li>
              <li>Friends of Wettern Tree Gardens</li>
              <li>Friends of Croham Hurst Woods</li>
              <li>Friends of Purley Beeches</li>
              <li>Christmas Lights in the Village 2012</li>
              <li>Sanderstead Churches Floating Shelter</li>
              <li>8th Purley Scout Group repairs to scout hut</li>
              <li>16th Purley Scout Group repairs to scout hut</li>
              <li>2nd Hamsey Green Scout Group repairs to scout hut</li>
              <li>Sanderstead Brownies 100th Birthday</li> 
              <li>Selsdon Little Football League Sponsorship</li>
              <li>“Hear Me Speak” competition for Sanderstead Primary Schools</li>
            </ul>

<p>Please print off, complete and send in your application form to SRA’s Hon. Treasurer:</p>

<p>Sanderstead Residents’ Association (SRA)</p>
	</div><!--/col-md-8 -->
	<div class="col-md-4">
	<p>more text</p>
	</div> <!--/col-md-4 -->
		</div> <!--/row marketing -->
       </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
