<% provide(:title, 'History') %>
<div class="background_image">
  <%= image_tag "village1550.jpg" %>
</div>
       
<div id="welcome-panel">
	<h2>History of the Sanderstead Residents' Association</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           <div class="col-md-12">
           	<p>The Association was first formed in 1926 and began life as the Sanderstead Rate Payers Association. Its founder members had recollections of pre 1914-18 Sanderstead. One of its members was Edith Harrison who had lost her husband and a son in the Great War. During the war Edith was the house chairman of the Sanderstead Belgian Refugee Committee which provided accommodation for Belgians forced to leave their homes by the advancing German invaders.</p>

<p>The pre 1914 Sanderstead and Village was very different from the area we know today. It was surrounded by seven farms owned by the Atwood family, Lords of the Manor from 1600 to 1919 who lived in Sanderstead Court which was demolished in 1957 after fire damage. The farm workers lived in tithe cottages, thus the population of about 300 remained small living in less than 100 houses. All Saints Church was built on earlier foundations in 1230 and our history can be traced to pre Anglo Saxon times.</p>

<p>The start of the change of Sanderstead from rural area to suburb could be identified as the 10th March 1884 when Sanderstead Station was opened by the London, Brighton and South Coast  Railway for their Croydon to East Grinstead line built in 1882. There were already South Croydon and Purley Oaks Stations so the remaining plausible name for the station was Sanderstead. A  mile's walk up Sanderstead Hill was required to reach the village until the bus service was introduced in 1921.</p>

<p>From 1905 life in the northern part of the parish changed rapidly  with “quality homes for the middle classes” being built along Mayfield Road, Heathhurst Road, the home of Edith Harrison and along Sanderstead Road to Sanderstead Hill. From here we were in farmland.</p>

<p>There was further housing development between the wars moving  up Sanderstead Hill. A parade of shops was built in the Village with more housing creeping along to Hamsey Green. It was not until 1958 to 60 that the Fox Farm was developed for housing, with shops at Elmfield Way and The Ridgeway School 
</p>
           	</div><!--/col-md-12 -->
	</div> <!--/row marketing -->
       </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	