<div id="background_image">
  <%= image_tag "churchview1550.jpg" %>
</div>
<div id="welcome-panel">
  <h2>Welcome to the Sanderstead Residents' Association</h2>
</div>
<div id="main-wrapper">
  <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
        <!--<div class="container-narrow">-->
        <div class="row marketing">
          <div class="col-md-8">
            <h4>Welcome</h4>
            <p>Welcome to the website of the Sanderstead Residents' Association.</p>
            <h4>History</h4>
            <p>In 1926 The Sanderstead Ratepayers' Association was formed, later to be known as The Sanderstead Residents' Association (SRA). The SRA is entirely non-political and non-sectarian. It is primarily concerned with promoting and stimulating interest in local government so as to safeguard the interests of residents and to assist members in Sanderstead, Hamsey Green and adjoining areas in local matters.</p>
            <p>The SRA has a membership in the region of 900 members who pay an annual subscription of £5 for which they receive the Association’s spring and autumn edition of the Sanderstead News. This good quality magazine provides reports from our MP, the Ward Councillors and the Chairman. Advice on security matters is provided by the police. There are articles of local interest and the  names and contacts of sixty local organisations with their diaries of events. We have a Youth Page for information all the Sanderstead youth groups, scouts and guides, youth football and cricket also the library young toddler readings.</p>

<p>The Committee and the Ward Councillors work in conjunction seeking to advise residents on their concerns regarding planning issues, management and maintenance of the public highway, regarding pot holes, unsuitable parking, public transport and related issues.</p>

<p>Until recently the SRA operations were generally reactive seeking to resist planning applications likely to disadvantage residents and concerns such as the proposed closure of the Sanderstead Library. Although still retaining these aims the Association has become more community proactive seeking to support organisations for the young, the elderly and the well being of Sanderstead.
</p>
            <h4>Useful information</h4>
            <uL>
              <li>Planning Issues </li>
              <li>News from Croydon Council</li>
              <li>Local items of interest</li>
              <li>How the SRA can help you</li>
              <li>How you can join the SRA</li>
          </ul>
          </div>

          <div class="col-md-4">
            <h4>Become a member</h4>
            <p>Find out about joining the SRA here.</p>
            <%= link_to("Membership", members_path, class: 'btn btn-primary') %>

            <h4>Grants Available</h4>
            <p>The Association has a small fund available to make grants to suitable local projects. Please follow the link to find out how to apply.</p>
        <%= link_to("Grants", grants_path, class: 'btn btn-primary') %>

            <h4>Local Organisations supported by SRA</h4>
            <p>Since 2012 the Association has funded and made donations to or provided the following.</p>
            <ul>

              <li>Sanderstead Neighbourhood Care</li>
              <li>Selsdon Centre for the Retired</li>
              <li>Repair of Sanderstead War Memorial vandalised by metal thieves</li>
              <li>Bench seat on the Gruffy by the Sanderstead Pond</li>
              <li>The Mayor’s Charity 2014</li>
              <li>Books and display stand for Sanderstead Library</li>
              <li>Friends of Wettern Tree Gardens</li>
              <li>Friends of Croham Hurst Woods</li>
              <li>Friends of Purley Beeches</li>
              <li>Christmas Lights in the Village 2012</li>
              <li>Sanderstead Churches Floating Shelter</li>
              <li>8th Purley Scout Group repairs to scout hut</li>
              <li>16th Purley Scout Group repairs to scout hut</li>
              <li>2nd Hamsey Green Scout Group repairs to scout hut</li>
              <li>Sanderstead Brownies 100th Birthday</li> 
              <li>Selsdon Little Football League Sponsorship</li>
              <li>“Hear Me Speak” competition for Sanderstead Primary Schools</li>
            </ul>
          </div> <!--col-md-4-->
        </div> <!-- row-marketing-->
       <!-- </div> /container -->
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
