<div class="center hero-unit">
	<h1>Sanderstead Residents Association
	</h1>
	<%= image_tag "residents_logo200.gif" %>
	<h3>
		This is the home page for the Sanderstead Residents Association
	</h3>

	<%= link_to "Contact Us", '#', class: "btn btn-large btn-primary" %>
</div>
