<% provide(:title, 'Membership') %>
<div class="background_image">
  <%= image_tag "roses1550.jpg", :class=> "img-responsive" %>
</div>
<div id="welcome-panel">
  <h2>Membership of Sanderstead Residents' Association</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           	<div class="col-md-8">
<h3>Membership</h3>
<p>The Residents' Association is always looking for members to help support our local community as best we can. If you want to get involved or find out more about how you can help then please get in touch with us.</p>

<p>Make your voice heard on issues affecting your neighbourhood and quality of life by joining SRA. We always welcome new members.</p>

<p>The current annual subscription price for household membership is £5. Your Subscription helps to support events, to cover admin expenses, postage etc. (Audited Accounts are prepared each year and made available to Members at the AGM).</p>

<p>Please print off, complete and send in your application form and send it with your cheque to SRA’s Hon. Treasurer: John Kempsell, email<%= mail_to "treasurer@sanderstead-residents.co.uk" %>, tel 020 8657 0482.</p>
<p>Please notify any change of address to the Hon Treasurer, John Kempsell:  email<%= mail_to "treasurer@sanderstead-residents.co.uk" %>, tel 020 8657 0482.</p>

<p>Sanderstead Residents’ Association (SRA)</p>
	</div><!--/col-md-8 -->
	<div class="col-md-4">
	<p>more text</p>
	</div> <!--/col-md-4 -->
		</div> <!--/row marketing -->
       </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

