<% provide(:title, 'News 5') %>
<div class="background_image">
  <%= image_tag "riddlesdown_april1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Local News and Events</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">


           	<h3><strong>Notice to grant a lease for part of the Sports Pavilion on Sanderstead Recreation Ground</strong></h3>
           	<p>Letter received by our local Councillors</p>
<p>Dear Councillors</p>
<p>As you are probably aware much of the sports pavilion in Sanderstead Recreation Ground is not used following the closure of the bowling club and the building is subject to repeated acts of vandalism.</p>

<p>In 2012 we advertised the opportunity to lease both the pavilion and the old toilet block for a business that was complimentary to the park. The result of this was that the toilets have been turned into the successful Pricilla’s Tea Room and we were in talks with an organisation that wanted to develop a nursery in the pavilion.</p>

<p>Unfortunately the nursery business withdrew due to the amount of capital required to adapt the building and the fact that we were offering a short lease which was insufficient for them to secure a bank loan.</p>

<p>We generally offer 5 year leases (with a two year option) as a term longer than this could be considered a disposal. However given the investment required to find an alternative use for the building we have been working with the Assets Team to establish a way of offering a longer lease. To this end a public notice has been placed by our Assets team in the Croydon Advertiser for two weeks (10th and 17th July) saying that we are intending on leasing the property.</p>

<p><em>The entry is:</em></p>
 
<p><b>Local Government Act 1972 s 123 – Sanderstead Recreation Ground</b></p>

<p>In accordance with the above Act the London Borough of Croydon hereby gives notice that it intends to grant a lease of part of the sports pavilion within the public open space known as Sanderstead Recreation Ground.</p>

<p>Any objections or comments to the grant of lease should be made in writing or email by 24th July 2015 to Stephen Wingrave, Head of Asset Management and Estates, London Borough of Croydon, 7th Floor, Zone D, Bernard Weatherill House, 8 Mint Walk, Croydon, CR0 1EA; <%= mail_to "stephen.wingrave@croydon.gov.uk" %></p>

<p>Assuming no objections to this notice we will be advertising the opportunity to develop a business in part of the building that will be complimentary to its park setting and will not impact on Pricilla’s Tea Room. The lease will be full repairing so will reduce the current cost pressures on the council. There will be no funding from the Council to support any new use so all investment will by the lessee. This will be acknowledged in a reduced rent for the first couple of years. The two sports changing rooms on the Limpsfield Road side of the building will be retained by the Council for football and cricket teams to hire.</p>

<p>If you require any further information or are aware of any individual or group who may be interested in the building please do not hesitate to contact me.</p>

<p>Regards</p>

<p>Mary Ann Winterman, Senior Service Development and Policy Officer, Environmental and Leisure</p>

	   </div><!-- /col-md-12 -->   
  </div> <!-- /row main content -->
</div><!--/container-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>