<% provide(:title, 'News 2') %>
<div class="background_image">
  <%= image_tag "riddlesdown_april1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
  <h2>Local News and Events</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           <div class="col-md-12">
           	 <h3>Pension scams are on the increase</h3>
           <p> Pension scams can take many forms.  Many offer ‘One-off pension investments’, ‘pension loans’ or upfront cash to entice savers to transfer their pension funds.</p>
<p>Recently there has been a rise in the number of people falling victim to pension scams.  Many individuals are offered the opportunity to gain access to their pension early or obtain benefits, which just aren’t available or, in some cases real.  Fraudsters often approach their victims through cold calls, trying to gain attention by offering a free pension review.  Many of the people that offer these sometimes claim to be ringing as part of a Government initiative.  This can make what is an illegal activity; appear legitimate and very appealing for the victim.</p>
<p>If you’re approached in this way, you may be encouraged to transfer your pension quickly, and they may even send documents to you by courier in an attempt to pressurize you to sign.</p>
<p>Once you’ve transferred your pension, it’s too late.</p>
<h4>How to spot a scam</h4>
<p>Here are some common features that may indicate what you are being offered is a pension scam:</p>
<p>Phrases like ‘one-off investment opportunities’, ‘free pension reviews’, ‘legal loopholes’, ‘cash bonus’, ‘government endorsement’ should be treated with caution;
Victims are typically approached out of the blue over the phone, via text messages or in person door-to-door;</p>
<p>Your money is transferred overseas or you are advised of exotic overseas investments;
You are told they have found a “legal loophole”
The promise of access to your pension before the age of 55;
There’s no member copy of documentation; and
You are encouraged to speed up transfers of your money to the new scheme.</p>
<p>If you fall victim to pension fraud, you run the risk of losing all your pension savings, as well as facing high commission or arrangement fees.  There are also significant tax penalties for taking what is called an ‘unauthorized payment’ from your pension fund.  It’s not uncommon, that once these deductions have been made, less than 70-80% of the original value is available.  Additionally, HMRC can impose a charge of up to 55% of the value of your pension.  At the end of the transaction you may just get 30% of your pension’s savings.</p>
           </div>
           	</div>
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>