<% provide(:title, 'News 7') %>
<div class="background_image">
  <%= image_tag "riddlesdown_april1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Local News and Events</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
      <h3>Keeping your memory strong </h3>
      <p>Sanderstead Residents' Association is a dementia friendly organisation, and keen to bring to our members information about maintaining good mental health as well as spotting the signs of early dementia. This information is provided by Croydon BME forum representative Anna D'Agostino.</p>
      <h4>Stay mentally active</h4>
        <p>Join a class, do crosswords, learn to dance, even write your life story! Anything that exercises your mind is good and keeps your brain healthy</p>
        <h4>Save your mental energy</h4>
        <p>If you organise yourself with shopping lists, address books and calendars you don't have to remember everything. This way you can save your ental energy to remember important things.</p>
        <h4>Repeat what you want to remember</h4>
        <p>When you want to remember something you've just heard, read or done, repeat it out loud or write it down. For example, when you are back home and you leave your keys somewhere that is not the usual place, tell youself out loud what you have done. That way, you reinforce your memory. </p>
        <h4>Believe in yourself</h4>
        <p>Work to keep your memory sharp at any age! If you believe you can improve your memory and practice, you have a better chance of keeping your mind sharp.</p>
        <h4>Sleep well</h4>
        <p>To sleep well is important for memory and learning. Getting an "average" amount of sleep, seven hours per day, may help maintain memory in later life.</p>
        <h4>Stay active and eat well</h4>
        <p>Some research shows that exercise and a balanced diet help keep your memory strong. Socialising in the community can keep your brain healthy too!</p>
        <h3>Memory and age</h3>
        <p>As we get older, it takes longer to learn and remember things but we do not lose much of our memory; we can still make decisions, use our common sense and talk to people. However...</p>
        <h3>Talk to your GP if you or a family member start having these problems:</h3>
        <p><ul>
          <li>Forgetting how to do things you've done many times (like cooking a meal or paying a bill).</li>
          <li>Getting lost or confused about where you are, even if you are in places you know well.</li>
          <li>Difficulty in finding the right word to say something or repeating the same question again and again</li>
          <li>Difficulties in following a conversation</li>
          <li>Trouble in making choices or decisions.</li>
          <li>Changes in mood - for example, being frustrated or anxious or easily upset over something unusual.</li>
          </ul>
        </p>
        <p>Your GP will discuss with you what to do next.</p>
        <p>You can also contact Alzheimer's Society Croydon, Heavers Farm Resource centre, 122 Selhurst Road, London SE25 6LL. Tel 020 8653 2818. <%= link_to "www.alzheimers.org.uk", "http://www.alzheimers.org.uk" %></p>
       
	   </div><!-- /col-md-12 -->   
  </div> <!-- /row main content -->
</div><!--/container-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>