<% provide(:title, 'News 4') %>
<div class="background_image">
  <%= image_tag "riddlesdown_april1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
  <h2>Local News and Events</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           <div class="col-md-12">
<h3>Introduction of Village Approach for refuse collection.</h3>
<p>On Monday 1 June 2015 a new service delivery approach will start in respect of how landfill and recycling collections, and street cleaning services will be delivered throughout the borough. This new system should ensure a better service and dialogue between Veolia staff and residents creating a sense of pride by working regularly together in the same village area. Veolia Staff will also wear name badges to encourage a friendly service led approach and will be encouraged to seek feedback from residents.</p>
<p>Residents within Sanderstead will and will have received a new service information leaflet which details their landfill and recycling collection dates from June to March next year.</p>
<p>Within the leaflet there is a short description of the new approach to delivery of services within the community for landfill and recycling collection, and street cleaning services to be known as the Village Approach.</p>
<p>As part of the change to the Village Approach there will be collection day changes for over 80% of residents, and therefore in order to ensure that the existing collection frequencies are maintained during the collection day changes, I have arranged for additional collections to be undertaken on Thursday 28, Friday 29 May and also on both weekends those being 30 and 31 May and 6 and 7 June, for specific locations where residents would have had to wait an unacceptable number of days for collections during the transition period from the old to new collection days.</p>
<p>In order to deliver the recycling material to the delivery point within the facilities licensed operating hours collection teams will be starting earlier on both weekends.
Contained on the council’s web page <%= link_to "www.croydon.gov.uk/villageapproach", "http://www.croydon.gov.uk/villageapproach" %> , is additional information regarding the new Village Approach service delivery option, including some helpful responses to frequently asked questions.</p>
<p>As collection days are changing, so will the times of collection which some of your constituents may have become used to. Can I encourage you to advise all constituents to leave their landfill bin and recycling receptacles out for collection on their new scheduled collection day, and to wait until the end of the working day to report any service failures through My Account, <%= link_to "www.croydon.gov.uk/myaccount", "http://www.croydon.gov.uk/myaccount" %>.</p>
			</div><!-- /col-md-12 -->
           </div><!-- row marketing -->
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>