<% provide(:title, 'News 4') %>
<div class="background_image">
  <%= image_tag "riddlesdown_april1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
  <h2>Local News and Events</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
        <div class="row marketing">
          <div class="col-md-12">
            <a name="template"></a>
            <h2>Template letter for objections to the Croydon Plan</h2>
            <h3>Councillor Tim Pollard writes...</h3>


            <p>The petition asking for public discussion of the Croydon Plan will be presented to a meeting of full council on 17 October 2016, with the meeting starting at 6.30 in the council chamber. It is a public meeting, so you would be very welcome if you would like to attend. There will be a debate early on in the meeting where a representative of one of Croydon’s many excellent residents’ associations will present the petition and councillors from both major parties will speak. You will be able to hear first-hand whether the council’s administration intends to take any notice of public opinion or not.</p>

            <p>The petition will be brought to the attention of the Inspector who will chair the inquiries early next year which will either approve the plan or reject it. However, it would also be fantastic if as many residents as possible took part in the council’s legally-required consultation, which closes on 17 October (by coincidence). In the last stage of the consultation over 7,000 residents objected to the previous proposals and this forced the council to at least partially u-turn on some of them. If enough residents let their feelings be known, we may get further improvements.</p>

            <p>As the consultation is somewhat technical in nature we have created a downloadable template here:<b> <%= link_to "(link to www.croydonconservatives.com/download/localplan.docx)", "http://www.croydonconservatives.com/download/localplan.docx" %></b> You can use this as the basis for your contribution, and please feel free to delete any bits you don’t agree with or modify it to make it reflect your views.</p>

            <p>The council’s plans documents may be viewed:
                <ul>
                    <li>At the borough’s libraries (during normal opening hours)</li>
                    <li>At Bernard Weatherill House (Access Croydon), Mint Walk, Croydon, 9:00am-4:00pm (Monday to Friday)</li>
                    <li>By downloading from the Council’s website:
                        <ul>
                            <li>Croydon Local Plan: Strategic Policies <%= link_to "www.croydon.gov.uk/localplanone", "http://www.croydon.gov.uk/localplanone" %></li>
                            <li>Croydon Local Plan: Detailed Policies and Proposals  <%= link_to "www.croydon.gov.uk/localplantwo", "http://www.croydon.gov.uk/localplantwo" %></li>
                        </ul>
                    </li>
            <li>Alternative formats of the document are available on request at ldf@croydon.gov.uk or 020 8407 1385</li>
        </ul>

        <p>You can respond to the consultation by letter or e-mail to
        ldf@croydon.gov.uk
        Croydon Local Plan: Strategic Policies – Partial Review, Spatial Planning, Bernard Weatherill House, 8 Mint Walk, Croydon, CR0 1EA</p>

        <p>All responses must be received my midnight on 17 October 2016.</p>

        <p>This is our last chance as residents and local Councillors to fight these proposals so please take the opportunity.</p>

        <p>Regards</p>

        <p>Cllr Tim Pollard, Leader - Croydon Conservative Council Group</p>
        <hr/>

            <h2>Initial Response by the SANDERSTEAD RESIDENTS ASSOCIATION to the Croydon Plan</h2>
 
            <p>Our initial response is that there are inaccuracies in the document:</p>
 
            <p>Riddlesdown is not noted as a “Place” How can this be so when it has the borough’s largest secondary school, Riddlesdown Collegiate with 2000 pupils? The school is located in the most difficult location for access for the pupils which on this one item requires recognition of public transport needs. Also this “non Place” has a railway station, church, shopping centre and large common.</p>
 
            <p>There is no reference to Riddlesdown Station within Sanderstead, there is however reference to Sanderstead Station which is located not in Sanderstead, it is within Croham Ward.</p>
 
            <p>We also object to the to the complicated layout of the plan and the too short period of time to respond. You don’t appreciate that we in turn need to consult with our members, councillors and committee.</p>
 
            <b>Objection      Gypsy /Traveller Sites</b>
 
            <p>The three locations earmarked for gypsy and traveller sites are all located on green belt land:</p>
              <ul>
                <li>Conduit Lane</li>
                <li>Coombe Farm off Oaks Road and Pear Tree Farm</li>
                <li>Featherbed Lane</li>
              </ul>
 
            <p>Policy E, Planning Policy for Traveller Sites published by the Government and also backed by the London Plan states that they are inappropriate development. On what basis therefore do Croydon consider they are better advised than more experienced authorities? There are high cost implications for Croydon should they proceed with this policy.</p>
 
            <b>Objection      Policy DM 40  Proposed Purley 16 storey building</b>
 
            <p>This refers to the Baptist Church site where the church  propose to build a 16 storey tower block in the centre of Purley Cross and shopping centre.</p>
            <p>The tallest building in this area is 5 storeys and a 16 storey tower will be totally out of scale and will over-dominate this small town shopping centre.</p>
 
            <p>The Baptist Church have an over ambitious plan to provide church and facilities plus community facilities. There has been no consultation with the community to judge their preferences. To cover the cost of their development they need to include flats for sale. The Croydon Council have demanded a £2m CIL and 20 social housing units, without parking facilities to cover the cost of the Council’s demands which necessitates building to the height of 16 storeys.</p>
 
            <p>The church should be required to reconsider their own proposals. For instance an open area on the 10th floor would rarely be used in our English climate and the people of South Croydon should have their own facilities incorporated in a new swimming baths and leisure centre.</p>
 
            <p>A further blot on the area will be additional car parking required for the flats without car parking bays. Many people whether in social housing or other housing require a car for their living and other reasons. For the Council to assume all tenants will only use public transport is a lack of understanding 0f the needs of working / disabled tenants.</p>
 
            <b>Objection     Hamsey Green “Lidl” Site</b>
 
            <p>This proposed development was rejected by the Government’s Planning Inspector when Lidl went to appeal having previously having their scheme rejected by both Croydon Council and Surrey County Council. This was not on the grounds of Lidl’s shop design, but the dangerous use of delivery vehicles having to cross two lanes of Limpsfield Road to gain entry and exit to the shop.</p>
 
            <p>The recent purchase by Lidl of two adjoining properties in Tithepit Shaw Lane is an indication of their wish to proceed with the scheme encouraging the Council to support the application by the provision of possibly social housing flats above the shop. The two purchased properties are opposite the entrance to Warlingham Primary School, with Warlingham Secondary School at the other end of Tithepit Shaw Lane which is a narrow road.</p>
 
            <p>The site has already been rejected by the Planning Inspector  for safety reasons, particularly  because of hundreds of children using the area. The safety of the children is paramount and any retail proposal should be rejected which puts their lives in danger.</p>
 
            <p>The 2 acre site is ideal for housing and should be used for that much needed purpose.</p>
 
            <b>Objection re West Hill, Sanderstead</b>
 
            <p>The loss of Local Area of Special Character will encourage the demolition of the larger properties for redevelopment, possibly as flats following the flatted development at No 1 West Hill.</p>
 
            <p>West Hill illustrates the development of Sanderstead by the earlier building of quality larger properties close to Sanderstead Road to the newer properties towards Upper Selsdon Road. the loss of No 13, with its tree lined and wooded frontage, the property is built to the rear is an example of a architecturally exciting building as are many of the properties in West Hill, thus the road’s importance.<p>
 
            <b>Objection  re de-designation of green belt land</b>
 
            <p><b>Purley Downs</b> (golf club). This historic land was noted in the Doomsday Book and has been a prominent area of Sanderstead from earlier times. There can be no reason for the proposed change.</p>
 
            <p><b>Sanderstead Plantation</b>. Ancient woodland planted for the management of timber, now a woodland recreation area providing 8 acres for  wild life preservation and recreation. There can be no reason for the proposed change.
 
            <p><b>Croham Hurst</b>. The history of the Hurst goes back some 5000 years, its hill and woodland provide much of Croydons pre history. The Hurst is linked to the land of Croham Golf course and therefore not as suggested by a Croydon Labour Councillor completely surrounded by housing. There can be no reason for the proposed change.</p>
 
            <b>Objection   re Garden Grabbing Policy</b>
 
            <p>This Policy DM2 allows “garden grabs".<p>
 
            <p>The proposal to build on garden land if it complements the local character is subjective. A developer and land seller will have the opposite view to local residents who don’t wish to see their properties overlooked by new properties located in back gardens.</p>
 
            <p>If back land development on green belt gardens is to be considered  there must be specific distances stated between properties to reduce  overlooking. Adequate access to the back land development, allowing for emergency vehicles and refuse collection. One or two properties built  between two rows of street frontage houses would be out of place and spoil the character.</p>
 
            <b>Objection  re the under provision of car parking</b>
 
            <p>The London Plan which includes inner and outer London Boroughs  seeks to reduce car parking facilities. Sanderstead, Selsdon, Purley and Coulsdon are on the outer edges of this great metropolitan area, thus there is no comparison to more central London.</p>
 
            <p>Croydon Council should be more appreciative that residents have greater need of their own transport. This applies even where they are close to public transport because their work may require them to use their car or other activities for transporting family members to a variety of venues. Every citizen is entitled to own or use a car.</p>
 
            <p>Car Parking in Purley the severe loss of car parking spaces to the 16 storey tower will generate severe street parking across the Purley centre, made worse by the policy to close the car park in Whytecliffe Road car park which is close to main line Purley Station and the shopping area.</p>
 
            <b>Conclusion</b>
 
            <p>The Croydon Local Plan should have been undertaken by a cross party select committee to overcome many of the errors in the document.</p>
            <p>Applying haste for such an important subject will effect the future of Croydon and its residents, retail, public facilities for many years to come.</p>
            <p>Stop playing politics and work for the future quality of life for those who reside and work in Croydon.</p> 
 
            <p>Dennis King RIBA Chartered Architect</p>
            <p>Chair : Sanderstead Residents Association</p>
            

			   </div><!-- /col-md-12 -->
        </div><!-- row marketing -->
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>