<% provide(:title, 'News 4') %>
<div class="background_image">
  <%= image_tag "riddlesdown_april1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
  <h2>Local News and Events</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
        <div class="row marketing">
          <div class="col-md-12">
            <a name="template"></a>
            <h2>Croydon Libraries Consultation – Phase 2</h2>
            <p>The conclusion of Phase 1 of the Croydon Council’s consultation of their six options proposed has resulted in these being reduced to three. The Residents’ Association is pleased to advise that the complete closure option has been dropped. The Committee would like to thank all members who contributed to the Phase 1 consultation and are convinced that your response was at least in part, the reason the Council has taken this step. We would stress the need for you to continue your support for this next phase if we are to rescue our library.</p>
            <p>Phase 2 of the consultation process is now in action with a closing date of midnight on Saturday 26th July 2021 and you may take part by either:</p>
            <ul>
              <li>Commenting On-line at <%= link_to "https://getinvolved.croydon.gov.uk/project/695", "https://getinvolved.croydon.gov.uk/project/695" %></li>
              <li>Requesting a paper copy from any Croydon Library or e-mail librariesconsultation@croydon.gov.uk. This address may also be used to request consultation in a different format or language.</li>
              <li>Telephoning 020 7884 5159 and leave a message in including your contact details</li>
            </ul>
            <p>Sanderstead Residents’ Association has considered the proposed options and is asking you, our members, to participate in the process and suggest you contain some, if not all of the italicized issues <%= link_to "in the attached document", "/resource/LibCon2_WebSurvey.pdf" %>, in addition to your own comments, please when completing the consultation survey.</p>
            <p>Based on the comments the SRA has received so far from its members and others we believe that the best option would be our proposed option 1A as detailed in item 8.</p>
            <p>Proposed Option 1: reduce library service hours by 21 % across the borough. Under this option all libraries remain Council-run but libraries would be open on less days per week. Sanderstead Library would only being open on Mondays and Fridays for 8 hours each day.</p>
            <p>Proposed Option 2: the council would work in partnership with an organisation to outsource the management of all 13 libraries. </p>
            <p>Proposed Option 3: This option would involve eight libraries staying in Council control and open fewer days a week.  The other five - Bradmore Green, Broad Green, Sanderstead, Shirley, and South Norwood libraries  would be leased to community groups, with the council providing some staff two days a week, as well as books and IT support.</p>
            <p>"8. If you have any other suggestions for how we could deliver the library service with the reduced budget, tell us here:"</p>
            <p><i>Sanderstead Residents’ Association propose a variation to Option 1 that we have labelled Option 1A.</i></p>
            <p>"9. Do you expect any positive or negative impacts on your local/wider community?"</p>
            <p><i>Sanderstead Residents’ Association believe that the following issues must be addressed if the effect of the proposals are to be regarded as positive impacts:</i></p>
            <ol>
              <li><i>10 year Croydon Library Plan</i></li>
              <li><i>Open + Technology</i></li>
              <li><i>Deferred Maintenance</i></li>
            </ol>
            <p>For more information about the proposed responses to the survey, please read this document. <%= link_to "Click here for document", "/resource/LibCon2_WebSurvey.pdf" %></p>




 
            
 
            
 
            
            

			   </div><!-- /col-md-12 -->
        </div><!-- row marketing -->
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>