<% provide(:title, 'News 4') %>
<div class="background_image">
  <%= image_tag "riddlesdown_april1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
  <h2>Local News and Events</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
        <div class="row marketing">
          <div class="col-md-12">
            <a name="template"></a>
            <h2>SRA Holds another successful Hear Me Speak Competition</h2>
            <p>The winning team of this year’s Hear Me Speak schools competition is Greenvale Primary School in Sandpiper Road, South Croydon. </p>
            <p>The finals of the 2018 Competition were held at St Peters Primary School (previous winners) in Normanton Road on Tuesday 19 June. Teams of Year 6 pupils from Greenvale , Gresham, Hamsey Green and  St Peters Primary Schools all took part in this competition. Its aim is to support and encourage the development of effective speaking by giving pupils in their final year of Primary school an experience in public speaking as a member of a team, putting together ideas on subjects  and dealing with a topic of their choice.</p>
            <p>The event is sponsored by Sanderstead Residents Association (SRA).</p>
            <p>Each team has 3 members - a chairperson, a subject speaker and someone to give a vote of thanks. 
            They may choose any topic to research and debate except religion and politics. Among the subjects chosen this year was The Impact of Video Gaming; Dieting and Body Image; Gender Neutrality, and Do We Need to Shorten School Holidays? </p>
            <p>Declaring Greenvale the winners, Dennis King, Chair of the SRA said: “We have been holding this competition for a number of years and I’m always greatly impressed by the standard of each entry, the topic each team has chosen and the confidence with which these young people perform. </p>  
            <p>“Deciding on an overall winner was incredibly difficult but, after much debate, we were delighted to declare Greenvale Primary School’s team with their topic of Gender Neutrality as the 2018 Winners.</p>
            <p> “We are well aware of the pressure schools and their teachers are under and so would like to thank all those taking part for their support and enthusiasm”. </p>
            <p>The winning school receives a cash prize and all team members receive gift tokens. The prizes were presented by Councillor Yvette Hopley of Sanderstead Ward and a founder member of the SRA Hear Me Speak Committee.</p>
            <p>Sanderstead Residents Association is planning to hold a competition in 2019 and will be contacting schools in the area in due course.</p>
            <p><%= image_tag "Greenvale.jpg", alt: "Hear me speak winners" %></p>
            <p>Greenvale School, "Hear Me Speak" winners 2018</p>




 
            
 
            
 
            
            

			   </div><!-- /col-md-12 -->
        </div><!-- row marketing -->
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>