<% provide(:title, 'News 1') %>
<div class="background_image">
  <%= image_tag "riddlesdown_april1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
  <h2>Local News and Events</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           <div class="col-md-12">
           	 <h3><%= link_to "Croydon Neighbourhood Watch", "http://www.cbnwa.com" %> gives some good advice about security</h3>
             <h3>Garden Sheds</h3>
<p>Garden sheds are a very popular target with burglars and are often overlooked when security is being considered. The value of the contents, such as garden mowers, strimmers and cycles can often add up to many hundreds of pounds. It is therefore wise to secure the shed door with at least one heavy duty hasp and closed-shackle padlock.</p>
<p>It may not always be appropriate to fit a heavy duty padlock, hasp and staple as the shed door and frame may not be strong enough to support them. There is a range of smaller but sturdy padlocks, padbolts, hasps and staples which would be suitable. Whether fitting heavy duty devices or otherwise, always use coach-bolt fixings through the door and frame. All opening windows within the shed will require good window locks.</p>
<p>The major problem with vulnerable garden sheds is that they provide burglars with an arsenal of house breaking implements, e.g. the versatile garden spade: because of the blade size and the leverage that can be exerted, few door or window locks can withstand a prolonged attack from this implement. If the shed is too fragile to secure adequately, the spade should either be bolted or padlocked to a heavy bench or frame, or, better still, kept in a more secure place such as a locked garage. Alternatively, your tools can be secured by chaining them together.</p>
<p>Consider the use of a strong lockable box or cage within the shed in which you can store not only your garden tools but also insecticides, weed killers or other items which may be harmful to health or plants if improperly used.</p>
<h3>Garages</h3>
<p>Garages are frequently used for storing not only cars, motor bikes and cycles, but also property similar to those found in garden sheds, as well as DIY power tools and sporting equipment. Considering the value of the property contained therein, security precautions are often found to be wanting, and for this reason they are identified by burglars as easy targets.<p>
<p>It is probably best not to rely solely on the centre lock provided. If the door is the only means of entry to the garage, it should be fitted with a hasp and staple, together with a padlock as above. There are also mortice locks specially designed for garage doors that close into the side frame.<p>
           </div>
           	</div>
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>