<% provide(:title, 'News') %>
<div class="background_image">
  <%= image_tag "riddlesdown1920.jpg" %>
</div>
       
<div id="welcome-panel">
  <h2>Local News and Events</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           <div class="col-md-8">
	<p>All the local news and events.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia condimentum odio, at finibus erat pharetra vel. Fusce mollis aliquet nisl, sit amet semper odio eleifend quis. Maecenas ut tortor ultricies, sollicitudin enim quis, pulvinar magna. Suspendisse tempor ex tellus, bibendum mollis leo sodales sit amet. Suspendisse id felis dictum, porttitor ante eu, posuere leo. Suspendisse pretium at ante eget vehicula. Aliquam euismod urna ac nulla posuere ultrices id id ex. Nullam tristique mollis leo eu vulputate. Etiam porta nisi in ullamcorper efficitur. Nulla vitae ex erat. Ut tristique, lorem a luctus euismod, dolor tellus sollicitudin neque, eget laoreet odio magna eu nisl. Curabitur sollicitudin arcu vitae velit tincidunt, lobortis pharetra felis ultrices. In dapibus, felis vitae dignissim egestas, dolor tortor pulvinar arcu, sed sodales elit sem vitae sapien.
	</p>
	 </div>

          <div class="col-md-4">
	<p> More news here.</p>
	 </div>
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	
