<% provide(:title, 'News 2') %>
<div class="background_image">
  <%= image_tag "riddlesdown_april1550.jpg", :class=> "img-responsive" %>
</div>
       
<div id="welcome-panel">
  <h2>Local News and Events</h2>
</div>
<div id="main-wrapper">
   <div class="container" id="main-content">
    <div class="welcome">
      <div class="content">
          <div class="row marketing">
           <div class="col-md-12">
           	 <h3>How to object to contentious planning applications</h3>
             <p>Councillor Tim Pollard has put together this item on how to and how not to complain about planning applications</p>
           <p> I have had a number of emails about this contentious application so, in order that everyone has the same information, I have covered the points you raise in this response but also some of the points other people raised.</p>
           <p>I’ve written the set of notes below to help inform residents about what arguments might work in objecting to contentious applications. Most Sanderstead residents will be aware that the current administration is turning down very few contentious applications, so it is really important to pick lines of argument which might be sustainable, rather than ones which are routinely swept aside by the flat-obsessed planning committee.</p>
           <p>What is the current status of this application?</p>
           <ul>
            <li>It’s an application for full planning permission, validated and live</li>
            <li>Many local residents have asked the local team to object</li>
            <li>The councillor leading on this is Cllr Tim Pollard</li>
            <li>The application has been referred by the councillor to the committee, meaning that officers cannot grant it permission ‘behind closed doors’; instead it must go to the public planning comitteee</li>
          </ul>
          <p>What is the referral process?</p>
          <p>The council process is this: an application to which there is widespread objection is referred to planning committee for determination if:</p>
          <ul>
            <li>a ward member refers it</li>
            <li>or if a set number of objections from the public is reached</li>
            <li>or if the local Residents’ Association refers it</li>
          </ul>
          <p>I suspect [the Sanderstead Hill] application will be referred in all three ways - I have referred it, objections are widespread and I presume the RA will also refer it. It doesn’t really matter how many ways it is referred as long as it is referred one way. However, a ward councillor can only speak on it when it gets to committee if one of the ward team also referred it, which I have done.</p>
          <p>Is it important to get lots of objections?</p>
          <p>There is a widespread misunderstanding that the more people who object, the better. It is certainly true that having lots of objections doesn’t harm the case for refusal, but it also doesn’t add to it. There is a fundamental principle of national, regional and local planning law that essentially says that the fact that local people don’t like a development is not a reason for it not to go ahead.</p>
          <p>So what matters is that one person makes the ‘right’ objection under planning law, rather than thousands of people making the ‘wrong’ ones.</p>
          <p>In fact the most normal reason for the refusal of an application is because it significantly contravenes national, regional or local planning policy. Development that contravenes policy is not impossible, but the good it does must significantly exceed the harm it does in contravening policy to enable the local authority to approve it.</p>
          <p>People often think that if they can demonstrate that a development is not policy-compliant in one area, then this must mean that it cannot be given planning permission. This is not the case in planning law. In essence the decision makers are asked to weigh up the positives of a development against the negatives. This is where the political priorities of the council in question come into play. If a council is broadly seeking to protect the interests of its current residents (as Bromley’s and Sutton’s seem to be), its committee may well decide that many infill developments which are less than 100% policy-compliant should be refused. If, on the other hand, they feel that their highest priority is to massively expand local housing provision, it will assess the same developments its neighbour might refuse as doing more good than harm, and thus approve them.</p>
          <p>Frustratingly, none of this is black-and-white, it’s shades of grey.</p>
          <p>What is the Croydon policy background against which the application will be judged?</p>
          <p>Croydon Council was Conservative controlled from 2006-14 but went Labour in 2014, where it has remained. So the current administration has been responsible for the adoption of its new ‘local plan’ which was approved in 2018. That allows - in fact encourages - a lot more suburban development. That is particularly articulated in its widely-disliked SPD2 (supplementary planning document 2) which sets out how the suburbs like Sanderstead are to be intensified. This document actively promotes increasing the density of development in the suburbs through back-garden development and the demolition of larger houses to be replaced by blocks of flats.</p>
          <p>The new local plan says three other things which are relevant (all of which the Conservative Group I lead opposed, but to no avail):</p>
          <ul>
            <li>Firstly, that the accepted norm for new developments is that they ought to be three storeys high plus use of roof space. So that really means that new developments ought to be four liveable storeys high.</li>
            <li>Secondly that family housing should be conserved - it sets the expectation that a development shouldn’t allow a reduction in the availability of three-bedroom family accommodation. This is why so many of the flatted developments coming forward now contain one or two three bed units. In this way the developer can claim (and have accepted by the council) that there is no net loss of family housing. It is quite specific to three bed units. Going from a four or five bed house to a block of flats with one three bed flat included is considered, by the council, to be perfectly acceptable and to result in no net loss of family accommodation. Lockdown has proven to me, beyond reasonable doubt, that it is far better for families to live in houses with private gardens than blocks of flats with little amenity space and none of it private. But that’s not what what Labour’s local plan sets out.</li>
            <li>Thirdly that nowhere in the borough can be exempt from intensification. All areas will be intensified, some areas super-intensified. There isn’t a super-intensification zone in Sanderstead, but there are in Kenley, South Croydon, Purley, Selsdon and other places nearby. Labour’s plan did have one of these zones pencilled in for the area around All Saints but the ward team got this thrown out by the Inspector who scrutinised the new plan. As it happens, Sanderstead's super-intensification zone was the only one in the Borough we persuaded the Inspector to take out: it was a small, but significant, local victory.</li>
          </ul>
          <p>The key to having an application refused is (in any ‘fair’ authority), to demonstrate that it is not compliant with policy. Policy includes big issues like the three above, but also some quite micro ones considering the impact of the proposed scheme on neighbours, the street scene or wildlife.</p>
          <p>The council’s local plan sets out dozens of types of micro policy, but the ones that most commonly relate to infill developments relate to:</p>
          <ul>
            <li>impact of the development on neighbour privacy or loss of light</li>
            <li>impact of the development on the street scene where they might create a terracing effect or be excessively dominant and overbearing</li>
            <li>impact on protected trees, or protected species like bats or badgers</li>
            <li>poor design - this is a rather nebulous concept as it is very much a matter of opinion how good or bad a design is</li>
            <li>meeting national or regional standards on room size, density, parking spaces and so on</li>
          </ul>
          <p>BUT - as noted above, even if a development is not compliant with certain aspects of policy it can still be approved if the committee wants to, on the grounds that the good it does is greater than the harm. However, these are the arguments which most often work.</p>
          <p>Why is the current administration so obsessed with flats?</p>
          <p>Flats deliver a lot of housing units on the available land - much more so than houses. The Council has accepted a high housing target - much greater than Bromley and Sutton - from the London Mayor which it can only meet by building tall. The London Mayor’s Plan was recently modified by a Government Inspector because its target for intensification of the suburbs was too high. In Croydon, it is the small sites target which is too high, to the tune of 8,700 units. The council could have decided to comply with this and reduce its own target by that amount, but it has decided not to do so. This means Croydon has chosen to deliver 8,700 home more than it is required to: it’s a political choice rather than an obligation. But they can only deliver it by either building on the Green Belt, or knocking down family housing to replace with flats, or both.</p>
          <p><%= link_to "You can read more about this here", "https://www.croydonconservatives.com/news_search_results_detail.asp?StoryNo=1721" %></p>
          <p>What does all this tell us about the current application [on Sanderstead Hill]?</p>
          <p>It is very rare that the Labour-controlled committee can be persuaded to refuse an application for conversion of a house into flats, but it can be done.</p>
          <p>Because the majority on the committee actively want to allow these schemes, you have have to put forward an argument they can’t easily ignore.</p>
          <p>They will completely ignore the number of objections received. To be fair this is in line with national planning guidance, but it is also because, unless we move to a Democratically Elected Mayor system where every vote in the borough counts, the current administration know they don’t need to worry about how residents in the south of the borough feel about them.</p>
          <p>What arguments don’t generally work with the current planning committee?</p>
          <p>‘It’s out of character, there are no other flats in the area’ - The Vice Chair of the Committee (and the man who really controls it), Cllr Paul Scott is on record many times as saying that there is nowhere in the borough where it is inappropriate to build flats.</p>
          <p>‘Its design is out of character’ - Mayor Khan’s new London Plan makes it clear that looking different from the locale is not a reason for refusal. Our policies cannot oppose the higher authority’s, so this can be used to justify allowing development which looks completely different from its neighbours - for example by being a square flat-roofed block rather than a traditional pitched roof. The now-approved Barrowsfield development is a good example of this - it is completely out of character, yet cheerfully approved by Cllr Scott and his cronies.</p>
          <p>’There’s not enough parking’ -  local and London policies encourage public transport use by discouraging parking. Bizarrely, the London Plan has maximum standards for parking rather than minimum. It actively wants there to be less spaces than there are flats. In many parts of Croydon no off-road parking is considered acceptable, and hardly any developments have as much as 1 flat: 1 space. An application is more likely to be turned down for having too much parking than too little!</p>
          <p>’The lack of parking means that flat dwellers will overspill park onto surrounding roads’ - whilst this is almost certainly true, in the suburbs it its easy for the committee to argue that there is physical space to accommodate half a dozen extra cars in most places on-street.</p>
          <p>‘Access to the flats will harm road safety’  - this argument can sometimes succeed in really clear cases of difficult access, but it is rare. The counter argument is that a four-bed house often has three of four cars attached to it, so the proportionate difference for the block with its six spaces is not great, and any consequential increase in risk is outweighed by the good the development does.</p>
          <p>I’m not going to pretend that any of the above makes easy reading for Sanderstead residents. The ward team are committed to protecting Sanderstead’s character and opposing inappropriate development, but we don’t control the council. So, working with the local residents’ association, we try to put forward arguments which might succeed, but we cannot guarantee success. All we can do is our best.</p>
          <p>Regards </p>
          <p>Cllr Tim Pollard</p>
           </div>
           	</div>
      </div> <!-- /content -->
    </div><!--/welcome -->
  </div><!--/#main-content -->
</div><!-- #main-wrapper -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>