<% provide(:title, 'News 5') %>
<div class="background_image">
  <%= image_tag "riddlesdown_april1550.jpg", :class=> "img-responsive" %>
</div>

<div id="welcome-panel" class="container">
  <h2>Local News and Events</h2>
</div>
<div class="container" id="main-wrapper">
  <div class="row main-content">
    <div class="col-md-12 white-column">
      <h3><strong>People in Croydon will soon have access to a wide range of urgent care services, including GP appointments available from 8am to 8pm, seven days a week.</strong></h3>
      <p>From April 2017, three ‘GP Hubs’ will open across the borough to treat children and adults with urgent care needs.  The new ‘Hubs’ will be open for longer hours every day, and will offer more services to treat both minor injuries and minor illnesses.</p>
      <p>People should call NHS 111 for an assessment to book an urgent appointment at a GP Hub.  The hubs also offer walk-in services, but the NHS is encouraging people to ‘phone before you go’ to make sure they access the most appropriate service for them.</p>
      <p>NHS 111 is staffed by highly-trained health advisors to direct people to the best medical care depending on their symptoms – including the GP Hubs where appropriate. NHS 111 is available 24 hours a day and is free to call from landlines or mobiles.</p>
      <p>Appointments at any of the new GP Hubs will be available to people living and working in Croydon if they are unable to get an appointment with their own GP.</p>
      <p>The improved services are part of a new contract with NHS Croydon Clinical Commissioning Group and the Croydon Urgent Care Alliance – a coalition of hospital doctors, nurses and local GPs.  This means, that for the first time, emergency and urgent care services will be working together to provide more coordinated care and support right across the borough.  It also means patients and GPs within the Hubs will benefit by having more services closer at hand.</p>
      <p>The new GP Hubs will increase the services already available at Purley Minor Injuries Unit and New Addington Minor Injuries Unit.  A new Central Croydon GP Hub will be provided within the East Croydon Medical Centre, replacing the walk-in centre located on Edridge Road.</p>
      <p>There will also be a continuation of the Urgent Care Centre and GP out-of-hours services located at the front door of the Emergency Department at Croydon University Hospital.  The Urgent Care Centre itself will be open 24/7 and equipped with the expertise to treat all urgent but non-life threatening illnesses or conditions.</p>
      <p>Additional services from the Croydon Urgent Care Alliance will include:
      <ul>
        <li>A roving GP service to provide urgent home visits for local residents live from 1 July 2017.</li>
        <li>An out-of-hours GP service, including rapid telephone advice, face-to-face consultations and home visits from trained clinicians Monday to Friday (between 6.30pm to 8.30am), and 24 hours a day at weekends and bank holidays.</li>
        </ul></p>
        <p>Dr John Chan, a local GP and the chair of Croydon GP Collaborative said:
          <blockquote>“The new urgent care service enables previously separate parts of the system – including the Urgent Care Centre, A&amp;E, and Walk-In Centres – to be joined-up along with other primary care services, such as GPs and local pharmacies. This will make access to appropriate care and advice much more straightforward for patient and professionals alike.
 
“We are also promoting 'Phone Before You Go!', which uses NHS 111 to book individuals for telephone or face-to-face consultations at the hubs for a more seamless patient experience.”</blockquote></p>
<p>Dr Kathryn Channing, lead consultant for the Emergency Department at Croydon University Hospital said:<blockquote>“In joining-up our urgent and emergency care services, we have a real opportunity to get this right for Croydon.  Across the country, you hear reports of emergency services under pressure as people often find it difficult to access primary care – especially in the evening and at weekends. 
 
“Our alliance means that GP appointments will be available from 8am to 8pm, 7 days a week.  What’s more, because the hospital will be running the services with Croydon GPs, you will be seen by one team working together to provide the right care for you.” </blockquote></p>
 <p>Dr Fiyaz Lebbe, GP Director of AT Medics added:<blockquote>“By combining our services, we are placing people at the heart of everything we do, rather than expecting people to navigate their way round from one service to the next.  By working together, our people will benefit from extended opening hours for GP Hubs, with direct links into hospital care and local pharmacies.  This means we can do more to keep people well, and provide expert care and treatment when it is needed.”</blockquote></p>
 <p>The Croydon Urgent Care Alliance teams up hospital doctors and nurses alongside community healthcare professionals from Croydon Health Services NHS Trust, with General Practitioners throughout the borough to offer a wealth of clinical experience, knowledge and expertise.</p>
 <p>Local GPs have formed the Croydon GP Collaborative and, with the Trust, have joined with AT Medics – a leading provider of primary care services in London – to complete the partnership.</p>
 <p>Dr Agnelo Fernandes, Assistant Clinical Chair, Croydon Clinical Commissioning Group, said:<blockquote>"We are delighted to announce that the contract has been signed for Croydon’s new urgent care service.  The plans were drawn-up after extensive engagement with local residents who called for longer opening hours and greater access to GP appointments.  We are proud that Croydon Urgent Care Alliance will help local people to get the right treatment by the right person in the right place.”</blockquote></p>
 <p>The contract awarded by Croydon CCG will run for three years from April 2017, with an option to extend for a further two years.</p> 
	   </div><!-- /col-md-12 -->   
  </div> <!-- /row main content -->
</div><!--/container-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>