$navbar-text: #999;
$navbar-text-hover: #666;

body {
  font-family: 'Raleway', Arial;
	background-color: #F5F5F8;
}


.navbar {
  margin-bottom: 0;

  background-color: #FFFFFF;

  .navbar-header {
    font-size: 24px;
    line-height: 14pt;
    color: $navbar-text;
    padding: 8px;

    small {
      font-size: 14px;
    }
  }

  ul.navbar-nav {
    li a {
      font-size: 18px;
      color: $navbar-text;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    ul.dropdown-menu a {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}
/* for hover dropdown - no good on ipads*/
/*.dropdown:hover .dropdown-menu {*/
   /* display: block;*/

.background_image {
  margin-top: 71px;
}

// /*for container*/
// .container {
// 	max-width: 980px;
// }

#main-wrapper {
  background: #cccccc; /* Old browsers */
  background: -moz-linear-gradient(top, #cccccc 0px, #f5f5f8 250px); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0px,#cccccc), color-stop(250px,#f5f5f8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cccccc 0px,#f5f5f8 250px); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cccccc 0px,#f5f5f8 250px); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cccccc 0px,#f5f5f8 250px); /* IE10+ */
  background: linear-gradient(to bottom, #cccccc 0px,#f5f5f8 250px); /* W3C */

  @media only screen and (min-width : 768px) {
    padding: 50px;
  }
}

#welcome-panel {
	background-color: #ecede8;

  @media only screen and (min-width : 768px) {
    background: black;
    padding-top: 10px;
    position: relative;
    margin-top: -130px;
    height: 130px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    color: white;
    background-color:rgba(0,0,0,0.5);

    h2 {
      font-size: 36px;
      margin-top: 10px;
      text-shadow: 3px 3px 4px black;
    }
  }
}

// /*for text area */
.main-content {
  @media only screen and (min-width : 768px) {
    margin-top: -100px;
  }
  background: #ffffff;
}

// .small_image {
//   float: right;
// }
// /* for grey background*/
// .grey-back {
//   background-color: #ecede8;
// }

/*for left hand columns*/
.white-column {
	background-color: #ffffff;
}

/*for right hand columns*/
.grey-column {
	background-color: #ecede8;
}

// .directory-md3-l {
//   background-color: #fff;
//   padding-top: 15px;
//   border-top: solid 1px #fff;
//   h4{
//   border-bottom: solid 1px #fff;
//   padding-bottom: 10px;
//   }
//   p {
//   text-indent: 15px;
//   }
// }
// .directory-md3-r {
//   background-color: #fff;
//   padding-top: 15px;
//   border-top: solid 1px #fff;
//   h4{
//   border-bottom: solid 1px #fff;
//   padding-bottom: 10px;
//   }
// }

// .directory-md9 {
//   background-color: #fff;
//   h5 {
//   font-weight: bold;
//   }
//   p {
//   text-indent: 15px;
//   }
//   h4 {
//   padding: 12px 0px 12px 10px;
//   font-weight: bold;
//   background-color: #ecede8;
//   }
// }
// .directory-md6 {
//   background-color: #fff;
//   h5 {
//   font-weight: bold;
//   }
//   p {
//   text-indent: 15px;
//   }
//   h4 {
//   padding: 12px 0px 12px 10px;
//   font-weight: bold;
//   background-color: #ecede8;
//   }
// }


// /*for constitution text*/
// .col-md-12
// {
// 	h3 {
// 	text-align: center;
// 	background-color: #d2d2d2;
// 	}
// }

// /*for news format*/
// .col-md-4
// {
//   background-color: #ecede8;
//   margin-bottom: -15px;
//   padding-top: 15px;
//   h4 {
//   border-bottom: solid 1px #fff;
//   padding-bottom: 10px;
//   }
// }

// /*for contact page*/
// .contact-details {
//   text-indent: 15px;
// }

// /* header*/
// #logo {
// 	float: left;
// 	margin-right: 10px;
// 	margin-left: 10px;
// 	padding-top: 9px;
// }

/*table*/

.events {
  padding: 5px 10px;
}

/* footer*/

footer {
	margin-top: 45px;
	padding: 5px 10px 10px;
	border-top: 1px solid #eaeaea;
	color: #ffffff;
	background-color: #333;

  a {
    color: #ffffff;

    &:hover {
      color: #eeeeee;
    }
  }

  .footer-nav {
    @media only screen and (min-width : 768px) {
      float: right;
    }

    margin-top: 20px;
  }

  ul {
    list-style: none;
    margin:0;
    padding:0;

    @media only screen and (min-width : 768px) {
      li {
        float: left;
        list-style: inline-block;
        margin-left: 10px;
        padding: 5px;
      }
    }
  }
}
