$navbar-text: #999;
$navbar-text-hover: #666;

body {
  font-family: 'Raleway', Arial;
	background-color: #F5F5F8;
}


.navbar {
  margin-bottom: 0;

  .navbar-header {
    font-size: 24px;
    line-height: 14pt;
    color: $navbar-text;
    margin-top: 15px;

    small {
      font-size: 14px;
    }
  }

  .container {
    background: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
  }

  ul.navbar-nav {
    float: right;

    li a {
      font-size: 18px;
      color: $navbar-text;
      padding-top: 25px;
      padding-bottom: 25px;
    }

    ul.dropdown-menu a {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}

/*for full width image*/
.background_image
{
	z-index: -1;
	max-width: 100%;
	height:auto;
	width: auto\9; /*ie8*/

}
/*for container*/
.container {
	max-width: 980px;
}

/*for welcome border*/
.welcome {
	margin-top: -60px;
	background-color: #d7ddde;
	z-index: 1;
	h2 {
	padding: 10px 10px 5px;
	background: #d7ddde;
	}
}

/*for text area */
.content {
	background-color: #fff;
	padding: 1em;
	margin: 0% 5%;
}

/*for right hand columns*/
.col-md-4
{
	background-color: #ecede8;
	margin-top: -15px;
	margin-bottom: -15px;
	padding-top: 15px
}

/*for constitution text*/
.col-md-12
{
	h3 {
	text-align: center;
	background-color: #d2d2d2;
	}
}

/* universal*/
html {
	overflow-y: scroll;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #fff
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header*/
#logo {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	padding-top: 9px;
}

/* footer*/

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #fff;
}

footer a {
	color: #555;
	&:hover {
	color: #222;}
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 10px;
}
