body 
{
	background-color: gray;
}
ul#navigation 
{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	background-color: white;
	float: left;
	width: 100%;
}
	ul#navigation li 
{
						display: inline;
}
	ul#navigation a 
{
		display: block;
	float: left;
	padding: 2em 1em;
	text-decoration: none;
	color: grayLight;

				&:hover {
		color: #222;
	background: #69c;
						}

}
				



