<header class="navbar navbar-static-top admin-header">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        Sanderstead Residents Admin
      </div>
      <nav>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Pages", pages_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
