<header class="navbar navbar-static-top admin-header">
  <div class="navbar-inner">
    <div class="container">
      <div class="navbar-header">
        Sanderstead Residents Admin
      </div>
      <nav>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Pages", admin_pages_path %></li>
        </ul>
        <% if current_user %>
          <ul class="nav navbar-nav navbar-right">
            <li id="current-user"><%= current_user.email %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          </ul>
        <% end %>
      </nav>
    </div>
  </div>
</header>
