<footer class="footer">
	<small>
		<h3>Sanderstead Residents Association</h3>
	</small>
	<nav>
		<ul class="list-inline">
			<li><%= link_to "Home", 	'#' %></li>
			<li><%= link_to "Contact",  '#' %></li>
			<li><%= link_to "Constitution",  '#' %></li>
		</ul>
	</nav>
</footer>