<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <ul>
        <li><%= link_to "Home", 	root_path %></li>
        <li><%= link_to "Contact",  contact_path %></li>
        <li><%= link_to "About",  about_path %></li>
        <li>&copy; SRA 2015</li>
      </ul>
    </nav>
    <h3>Sanderstead Residents' Association</h3>
  </div>
</footer>
