<footer class="footer">
	<small>
		<h3>Sanderstead Residents Association</h3>
	</small>
	<nav>
		<ul class="list-inline">
			<li><%= link_to "Home", 	root_path %></li>
			<li><%= link_to "Contact",  contact_path %></li>
			<li><%= link_to "About",  about_path %></li>
		</ul>
	</nav>
</br>
        <p>&copy; SRA 2015</p>    
</footer>