 <div class="jumbotron">
        <h1>Sanderstead Residents Association</h1>
        <%= image_tag "pond_in_winter.jpg" %>
        <p class="lead">Welcome to the website of the SRA</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Contact Us</a></p>
      </div>